* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1111px;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url(../images/background.png) center center/cover no-repeat;
    padding: 24px 0 0 0;
    position: relative; 
    z-index: -5;
    .header {
        height: 43px;
        display: flex;
        justify-content: space-between;
        width: 1111px;
        margin: 0 auto;
    }
    .burger {
        width: 40px;
        height: 40px;
        background: #F5F6F7;
        border-radius: 50%;
        padding: 13.4px 11px 13.4px;
        cursor: pointer;
        border: none;
    }
    .burger__line {
        display: block;
        height: 1.8px;
        width: 18px;
        background: #000000;
        margin-bottom: 3.6px;
    }
    .agency {
        height: 902px;
        width: 100%;
        padding: 135.38px 0 0 0;
        &__subtitle {
            font-family: Poppins;
            font-weight: normal;
            font-size: 14px;
            color: #FFFFFF;
        }
        &__title {
            margin-top: 22px;
            font-family: Poppins;
            font-weight: bold;
            font-size: 60px;
            line-height: 74px;
            color: #FFFFFF;
            width: 616px;
        }
        &__descr {
            margin: 24px 0 45px 0;
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
            width: 581px;
        }
        &__link {
            font-family: FontAwesome;
            font-weight: normal;
            font-size: 16px;
            text-decoration-line: underline;
            color: #FFD723;
        }
    }
    .partners {
        width: 1276px;
        height: 227px;
        margin-left: 231px;
        margin-top: -81px;
        background-color: rgb(255, 255, 255);
        box-shadow: 65px 60px 70px 30px rgba(0, 0, 0, 0.10);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 20;
        &__images {
            width: 156px;
            height: 113px;
        }
    }
    .strategy {
        height: 784px;
        width: 100%;
        display: grid;
        background-color: rgb(255, 255, 255);
        position: relative;
        z-index: -2;
        margin-bottom: 150px;
        &__left {
            width: 475px;
            height: 366px;
            margin-top: 120px;
        }
        &__subtitle {
            font-family: Poppins;
            font-weight: normal;
            font-size: 14px;
            color: rgba(77, 83, 60, 0.9);
            margin-top: 120px;
        }
        &__title {
            font-family: Poppins;
            font-weight: bold;
            font-size: 36px;
            line-height: 46px;
            color: #4D533C;
            margin: 29px 0 35px 0;
            width: 475px;
        }
        &__descr {
            font-family: Poppins;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: rgba(33, 56, 66, 0.6);
            width: 475px;
            margin-bottom: 42px;
        }
        &__link {
            font-family: FontAwesome;
            font-weight: normal;
            font-size: 16px;
            text-decoration-line: underline;
            color: #D4D6D4;
            margin-bottom: 33px;
        }
        &__right {
            width: 474px;
            height: 644px;
            box-shadow: 30px 50px 70px 5px rgba(0, 0, 0, 0.10);
            position: absolute;
            left: 1032px;
            top: 0px;
            background-color: white;
            z-index: -2;
            &-text {
                width: 426px;
                font-family: Poppins;
                font-style: italic;
                font-weight: normal;
                font-size: 24px;
                line-height: 40px;
                color: #4D533C;
                margin-top: 256px;
                margin-left: 40px;
            }
            &-person {
                display: flex;
                width: 358px;
                height: 90px;
                margin-left: 40px;
                margin-top: 50px;
            }
            &-person-img {
               height: 120px;
               width: 120px;
            }
            &-person-name {
                font-family: Poppins;
                font-weight: bold;
                font-size: 22px;
                color: #4D533C;
                margin-top: 14px;
            }
            &-person-descr {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #152934;
            }
        }
        &::after {
            content: '';
            background: rgba(33, 56, 66, 0.0955529);
            width: 1110px;
            height: 1px;
            margin: 150px auto 0;
        }
    }
    .project {
        height: 2503px;
        margin-top: 139px;
        &__top {
            display: flex;
            margin: 150px 0 0 0;
            width: 976px;
        }
        &__title {
            font-family: Poppins;
            font-weight: bold;
            font-size: 36px;
            line-height: 54px;
            color: #4D533C;
            width: 335px;
        }
        &__descr {
            font-family: Poppins;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: rgba(33, 56, 66, 0.6);
            margin-left: 132px;
            width: 518px;
        }   
        &__one {
            width: 1306px;
            height: 626px;
            display: flex;
            margin-top: 110px;
            margin-bottom: 100px;
        }
        &__one-left {
            
        }
        &__one-comment {
            position: relative;
            width: 453px;
            height: 243px;
            padding: 30px;
            margin-left: 323px;
            margin-top: -171px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            box-shadow: 65px 15px 70px 15px rgba(0, 0, 0, 0.10);
        }
        &__one-comment-text {
            font-family: Poppins;
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #4D533C;
        }
        &__one-comment-writer {
            display: flex;
            margin-top: 24px;
        }
        &__one-right {
            width: 475px;
            height: 397px;
            margin-left: 56px;
            margin-top: 80px;
        }
        &__one-title {
            font-family: Poppins;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            color: #4D533C;
        }
        &__one-descr {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: rgba(33, 56, 66, 0.6);
            width: 421px;
            margin-top: 24px;
        }
        &__one-link {
            margin-top: 90px;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            text-decoration-line: underline;
            color: #D4D6D4;
            line-height: 300px;
        }
        &__two {
           display: flex;
           margin-bottom: 100px;
           flex-direction: row-reverse;
           &-title {
               width: 390px;
           }
           &-right {
               margin-right: 68px;
               margin-top: 80px;
           }
        }
        .two__comment {
            margin-left: -46px;
        }
        &__three {
            display: flex;
            &-title {
                width: 390px;
            }
            &-right {
                margin-left: 68px;
                margin-top: 80px;
            }
        }
        
    }
    .deation {
        height: 932px;
        padding-top: 150px;
        &__title {
            width: 607px;
            font-family: Poppins;
            font-weight: bold;
            font-size: 36px;
            line-height: 46px;
            color: #4D533C;
        }
        &__ideas {
            display: flex;
            &-items {
                width: 255px;
                padding: 27px 42px 36px 30px;
                margin-left: 30px;
                margin-top: 60px;
                &:first-child {
                    margin-left: 0;
                }
                &-title {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    text-transform: uppercase;
                    color: #4D533C;
                    margin-bottom: 20px;
                }
                &-descr {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 26px;
                    color: rgba(33, 56, 66, 0.6);
                    margin-bottom: 56px;
                    height: 104px;
                    width: 194px;
                }
            }
        }
    }
    .horizon {
        background: rgba(33, 56, 66, 0.5);
        width: 1110px;
        height: 1px;
        margin: 0 auto 0;
    }
    .footer {
        height: 920px;
        background: #4F553D;
        padding-top: 310px;
        &__top {
            width: 452px;
            height: 88px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            &-phone {
                display: flex;
                flex-direction: column;
                &-span {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 40px;
                    color: #B6C197;
                }
                &-tel {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 40px;
                    color: #FFFFFF;
                }
            }
            &-address {
                display: flex;
                flex-direction: column;
                &-span {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 40px;
                    color: #B6C197;
                }
                &-addr {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 40px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}